@import "tailwindcss";

@layer base {
  :root {
    --font-inter: 'Inter', sans-serif;
    --font-jakarta: 'Plus Jakarta Sans', sans-serif;
  }

  * {
    scroll-behavior: smooth;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: var(--font-inter);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

@layer utilities {
  .font-inter {
    font-family: 'Inter', sans-serif;
  }

  .font-jakarta {
    font-family: 'Plus Jakarta Sans', sans-serif;
  }
}
